body {
    background-color:rgb(255, 255, 255);
}
.nav-link {
    text-decoration: none;
    color: #b99768;
    font-weight: bold;
    
}
.banner {
    background-color: #006d46;
    background: linear-gradient(to bottom,#006d46,#333);
    padding: 40px;
    margin: 1em 0;
}

.cards{
    padding-top: 30px;
    padding-bottom: 30px;
}
.card-body{
    background-color: rgb(245, 245, 238);
}
.razon{
    padding: 40px;
}

H2, h5{
    color: #b99768;
}

.newsletter{
    padding-top: 30px;
    padding-bottom: 30px;
    
}
a:link{
    color:rgb(245, 245, 238);
}
a:hover{
    color: #333;
}
footer a:hover{
    color: #b99768;
}

.testimonios {
    position: relative;
    display: inline-block;
    text-align: center;
}
.testimonio-tittle{
    padding-bottom: 20px;
}
.testimonio-text{
    color: #585552;
    font-size: 14px;
    line-height: 1.2em;
    padding: 0 0 20px 0;
    
}
.testimonio-box{
    background: rgba(255, 255, 255, 0.9);
    border: 15px solid #FFF;
    position: absolute;
    padding: 40px 40px 60px 40px;
    margin-left: 70px;
    width: 50%;
    z-index: 3;
    top: 40%;
    text-align: left;
}

.card1{
    color: #b99768;
    text-shadow: rgb(104, 104, 104) 5px 5px 10px;
    background-color:#333
}

.card2{
    color: #b99768;
    text-shadow: rgb(104, 104, 104) 5px 5px 10px;
    background-color:#333
}
.card3{
    color: #b99768;
    text-shadow: rgb(104, 104, 104) 5px 5px 10px;
    background-color:#333
}
.card4{
    color: #b99768;
    text-shadow: rgb(104, 104, 104) 5px 5px 10px;
    background-color:#333
}

footer {
    color: rgb(255, 255, 255);
    background-color: #333;
   
}
/* estilo de dark/light mode */
.dark{
    background-color: rgb(38, 38, 38);
    color: rgb(247, 247, 247);
}

.light{
    background-color: rgb(247, 247, 247);
    color: rgb(38, 38, 38);
}
.habitacion{
    padding:30px
}

.precio{
    color:#b99768;
}

/*  */

.contenedor {
    background: #fff;
    border-radius: 2px;
    box-shadow: 19px 20px 8px -9px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}
.cabecera {
    background: #006d46;
    color:azure;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
#formulario #formularioFinCompra {
    padding: 30px 20px;
}

.form-control {    
    margin-bottom: 7px;
    padding-bottom: 55px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 7px;
    font:weight 300px
}

.form-control input {
    border: none;
    background-color: #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 12px;
    width: 100%;    
}
.form-control, input:focus {
    outline: none;
}

.form-control.ok input {
    border: 0.1px solid;
    border-color: #08ffc8;
}
.form-control.falla input {
    border: 0.1px solid;
    border-color: #fe5f55;
}

#formulario button {
    background: #b99768;
    border:1px solid #b99768;
    border-radius: 2px;
    color: #f6f6e9;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
.form-control p {
    visibility: hidden;
    position: absolute;
    font-size: small;
    font-weight: 500;
    text-align: right;
}

.form-control.falla p {
    visibility: visible;
    color:#e74c3c;
}

