<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Assets/imagenes/ecotel iso.png">
    <meta name="Keywords" content="hotel, ecosustentable">
    <meta name="author" content="Marcos Escobar">
    <meta name="description" content="Hotel de cinco estrellas ubicado en Mendoza, a 25 min del aeropuerto Internacional El Plumberillo">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet">  
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- BOOSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- NORMALIZE -->
    <link rel="stylesheet" href="../css/Normalizeecotel.css">
    <!-- MI CSS -->
    <link rel="stylesheet" href="../css/Ecotel.css">

    <title>Ecotel</title>
</head>
<body>
    <!-- COMIENZA EL MENU -->
    <header class="container ">
      <div class="row align-items-center">
          <a href="../index.html"><img src="../Assets/imagenes/ecotel logo.png" alt="nombre_del_hotel" class="col-lg-4"></a>
          <ul class="col-lg-8 nav justify-content-end ">
              <li class="nav-item">
                  <a href="Habitaciones.html" class="nav-link">Habitaciones</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">Gastronomía</a>
              </li>
              <li class="nav-item">
                  <a href="Promociones.html" class="nav-link">Promociones</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">Servicios</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">Eventos</a>
              </li>
              <li class="nav-item">
                  <a href="Reservas.html" class="nav-link">Reservas</a>
              </li>
          </ul>
      </div>
  </header>
    <!-- FINALIZA EL MENU -->
    <main>
        <section class="container">
            <div class="row">
                <div class="col-lg-4">
                     <!-- DOM evento muestra diferentes opciones segun huespedes -->
                    <button>
                        <span>Huespedes</span>
                        <p>1 adulto</p>
                    </button>
                </div>
                <div class="col-lg-4">
                    <!-- DOM evento muestra calendario -->
                    <button>
                        <span>Fecha de entrada</span>
                    </button>
                </div>
                <div class="col-lg-4">
                     <!-- DOM evento muestra calendario -->
                    <button>
                        <span>Fecha de salida</span>
                    </button>
                </div>
            </div>
        </section>
        <!-- Tipos de habitaciones -->
        <div class="container" id="habitaciones" >
            <!-- redireccion de habitaciones de reservas.js -->
        </div>
        <!-- Fin tipos de habitaciones -->
    </main>
    <footer>
        <!-- newsletter -->
        <div class="text-center newsletter">
            <p id="parrafito">Si te registras a nuestro Newsletter podras acceder a nuestras mejores ofertas</p>
            <div class="newsletter">
                <form action="formulario" id="formulario">
                    <label for="newslatte">
                        <input id=email type="text" name="correo" placeholder="Ingresá tu mail"> 
                        <button id=submit type="submit">Enviar</button>
                    </label>
                </form> 
            </div>
        </div>
        <!-- fin de newsletter -->

        <!-- Secciones divididas -->
        <div class="container">
          <div class="secciones row">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <h5>SOBRE NOSOTROS</h5>
              <ul>
                <li> 
                  <a href="">Responsabilidad social</a>
                </li>
                <li>
                  <a href=""></a>
                </li>
                <li>
                  <a href="">Sustentabilidad</a>
                </li>
                <li>
                  <a href="">Programa de lealtad</a>
                </li>
                <li>
                  <a href="">Trabaja con nosotros</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6">
              <h5>RESERVAS</h5>
              <p>Teléfono reservas</p>
              <a href="tel:+5499999999">+5499999999</a>
              <p>Email reservas</p>
              <a href="mailto:marcos.b.escobar@gmail.com">reservas@ecotel.com</a>
            </div>
            <div class="col-lg-3 col-md-6">
              <h5>ATENCION AL CLIENTE</h5>
              <ul>
                <li><a href="">Reclamos</a></li>
                <li><a href="Views/Preguntas frecuentes.html">Preguntas frecuentes</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6">
              <h5>CONTACTANOS</h5>
              <ul>
                <li>
                  <h6>Eventos</h6>
                  <p><a href="tel:+5499999999">+5499999999</a></p>
                  <p><a href="mailto:marcos.b.escobar@gmail.com">eventos@ecotel.com</a></p>
                </li>
                <li>
                  <h6>Marketing & Ventas</h6>
                  <p><a href="tel:+5499999999">+5499999999</a></p>
                  <p><a href="mailto:marcos.b.escobar@gmail.com">mkt&ventas@ecotel.com</a></p>
                </li>
                <li>
                  <h6>Restaurante</h6>
                  <p><a href="tel:+5499999999">+5499999999</a></p>
                  <p><a href="mailto:marcos.b.escobar@gmail.com">luciernaga@ecotel.com</a></p>
                </li>
                <li>
                  <a href="Views/Contacto.html">Formulario</a></li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
    <!-- SCRIPT BOOSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!-- <script src="../ecotelreservajs.js"></script> -->
    <!-- script AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script type="module" src="../js/reservas.js"></script>
</body>
</html>